src/main/mule/practice-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="812c6707-c032-4965-bde8-664488341049" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="connectedapp-apiFlow" doc:id="98dee65d-636d-4ec6-a2ca-d74fc0ebb755" >
		<http:listener doc:name="Listener" doc:id="982b20d7-7d5d-4f1e-a04d-af5c98894985" config-ref="HTTP_Listener_config" path="/hello" />
		<set-payload value='#["Hello Successfulll Message"]' doc:name="Set Payload" doc:id="33a780fd-c8c5-4f17-8864-1d9d9ad5aad3" />
		<logger level="INFO" doc:name="Logger" doc:id="b2f7829f-8caf-48ad-a367-f6836d0605b0" message='#["Successful Message"]' />
	</flow>
</mule>
